@page "/bebidas"
@layout CrudCafeteria.Components.Layout.MainLayout

<section class="banner">
    <div class="content-banner">
        
        <div class="producto-item">
            <h2>Jugo de Naranja</h2>
            <img class="img1" src="pictures/naranja.jpg" alt="">
        </div>
        
        <div class="producto-item">
            <h2>Cafe</h2>
            <img class="img2" src="pictures/cafes.jpg">
        </div>
        
        <div class="producto-item">
            <h2>Cafe Frio</h2>
            <img class="img" src="pictures/frio.jpg">
        </div>
        
        <div class="producto-item">
            <h2>Variedad de sabores</h2>
            <img class="img" src="pictures/drink.jpg">
        </div>
        
        <div class="producto-item">
            <h2>Matcha Late</h2>
            <img class="img" src="pictures/matcha.jpg">
        </div>
        
    </div>
</section>