@page "/desayunos"
@layout CrudCafeteria.Components.Layout.MainLayout

<section class="banner">
    <div class="content-banner">
        
        <div class="producto-item">
            <h2>Waffles</h2>
            <img class="img1" src="pictures/waffles.jpg" alt="">
        </div>
        
        <div class="producto-item">
            <h2>Tostadas</h2>
            <img class="img2" src="pictures/tostatadas.jpg">
        </div>
        
        <div class="producto-item">
            <h2>Hotcakes</h2>
            <img class="img" src="pictures/hotcakes.jpg">
        </div>
        
        <div class="producto-item">
            <h2>Cachitos</h2>
            <img class="img" src="pictures/cachito.jpg">
        </div>
        
        <div class="producto-item">
            <h2>Yogurts</h2>
            <img class="img" src="pictures/yogurt.jpg">
        </div>
        
        <div class="text">
            <p>Ricos desayunos<br>Ñami ñami</p>
        </div>
    </div>
</section>