@page "/postres"
@layout CrudCafeteria.Components.Layout.MainLayout
    
<section class="banner">
    <div class="content-banner">
        <div class="texto">
            <p>Disfruta de tus Antojos Favoritos</p>
        </div>
        
        <div class="producto-item">
            <h2>Helado de Pistacho</h2>
            <img class="img1" src="pictures/helado.jpg" alt="">
        </div>
         
        <div class="producto-item">
            <h2>Smoothies</h2>
            <img class="img" src="pictures/batido.jpg">
        </div>
        
        <div class="producto-item">
          <h2>Cookies</h2>
            <img class="img2" src="pictures/galleta.jpg">
        </div>
        
        <div class="producto-item">
            <h2>Cheesecakes</h2>
            <img class="img" src="pictures/torta.jpg">
        </div>
    </div>
</section>